@inherits LayoutComponentBase

<div class="page px-8 mt-2">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
    <footer>
        <div>
            <NavMenu />
        </div>
    </footer>
</div>
