@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<div class="page px-8 mt-2">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
    <footer>
        <div>
            @if (!IsSignUpPage)
            {
                <NavMenu />
            }
        </div>
    </footer>
</div>

@code {
    private bool IsSignUpPage => NavigationManager.Uri.Contains("/signup");
}