<div class="w-full h-44 bg-[@HexColor] rounded-md pt-2 shadow-sm">
    <div class="flex items-center justify-center">
        @if (ShowIcon)
        {
            <img class="w-8 h-auto object-cover" src="@ImageSource" alt="Heartbeat Icon" />
        }
        <h1 class="text-secondary font-extrabold text-@LabelSize">@Label</h1>
    </div>

    <div class="h-full">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public bool ShowIcon { get; set; } = true;

    [Parameter]
    public string HexColor { get; set; } = "";

    [Parameter]
    public string ImageSource { get; set; } = $"";

    [Parameter]
    public string Label { get; set; } = "";

    [Parameter]
    public string LabelSize { get; set; } = "xl";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}