<button type="button" class="w-full min-h-18 border-2 border-black rounded-lg py-2 flex justify-between items-center hover:text-gray-700 focus:outline-none focus:ring-1 focus:ring-gray-700 focus:border-transparent" @onclick="OnEditClick">
    <div class="flex flex-col text-start ps-4">
        <span class="text-xl font-bold">Emergency Call</span>
        <span class="text-lg">@Name</span>
    </div>
    <div class="justify-self-center pe-7">
        <img class="h-auto w-auto object-cover" src="@imageSource" alt="Next Icon" />
    </div>
</button>

@code {
    private string? imageSource = $"../resources/images/next_icon.png";

    [Parameter]
    public string Name { get; set; } = "";

    [Parameter]
    public EventCallback<MouseEventArgs> OnEdit { get; set; }

    private async Task OnEditClick(MouseEventArgs e)
    {
        if (OnEdit.HasDelegate)
        {
            await OnEdit.InvokeAsync(e);
        }
    }
}