<div class="h-24 w-24 justify-self-center mb-5">
    <img class="h-auto w-auto object-contain" src="@imageSource" alt="Profile Picture" />
</div>

@code {
    private string? imageSource = $"../resources/images/default_profile_picture.png";
}